@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container {
  @include container;
}

.section {
  @include section-padding;
}

.section--alt {
  background: $c-bg-alt;
}

.section--soft {
  background: $c-bg-soft-2;
}

.section--tint {
  background: rgba($c-bg-alt, 0.7);
}

.text-center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}
