@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.breadcrumb {
  margin-bottom: 32px;

  @include desktop {
    margin-bottom: 48px;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 13px;
    color: $c-text-muted;
  }

  a:hover {
    color: $c-brand;
  }

  [aria-current="page"] {
    color: $c-heading;
  }
}
