@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.panel {
  background: rgba($c-bg-panel, 0.6);
  border-radius: $radius-lg;
  padding: 32px 24px;

  @include desktop {
    padding: 40px 48px;
  }
}
