@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.panel {
  background: rgba($c-bg-panel, 0.6);
  border-radius: $radius-lg;
  padding: 32px 24px;

  @include desktop {
    padding: 40px 48px;
  }
}

.panel--split {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  @include desktop {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  p {
    max-width: 46rem;
  }

  .btn {
    flex: none;
  }
}
